 /*#050010;        fondo principal */
  /*#0B0018;     secciones o cards */
  /*#B0B0B5;     /texto principal */
  /*#2A2A2E;   texto atenuado */
 /*#6A0DAD;            botones, links */
  /*#3D2C8D;        hover/acento */
  /*#F2F2F7;       texto sobre fondos oscuros */
 /*#5A4C66;       lila grisaceo */

body {
     user-select: none;
  margin: 0;
  padding: 0;
    font-family: Arial, sans-serif;
    background: #050010;
    color: #B0B0B5;
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    background-color: #0B0018;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: small;
}
.visually-hidden {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* buscador */
.search-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  
}

#searchInput {
  width: 100%;
  max-width: 480px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #7B6C8C; 
  background: #F2F2F7;
  color: #050010;;
  font-size: 0.85rem;
  outline: none;
}

#searchInput:focus {
  box-shadow: 0 0 0 4px rgba(122,77,163,0.12); 
  border-color: #7A4DA3;
}

/* feedback */
.search-hint {
  font-size: 0.9rem;
  color: #BDB0CF;
  margin-left: 8px;
}


.header h1{
  padding: 5px 15px 0px 5px;

}
/* =============================== */
/* 1. Registro y Login  */
/* =============================== */


/* formato modal registro */
.modal {
  position: fixed;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #1a1a1a;
  color: #F2F2F7;
  padding: 1.5em 2em;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  min-width: 320px;
  max-width: 350px;
  width: 100%;
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 1.5em;
  color: #B0B0B5;
  cursor: pointer;
  transition: color 0.2s;
}
.close:hover {
  color: #F2F2F7;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-content input {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #5A4C66;
  background: #0B0018;
  color: #F2F2F7;
  font-size: 1em;
}

.modal-content button {
  background: #6A0DAD;
  color: #F2F2F7;
  border: none;
  padding: 10px 0;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}
.modal-content button:hover {
  background: #3D2C8D;
}


/* formato login */
.login-form {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 16px;
}
.login-form input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #5A4C66;
  background: #0B0018;
  color: #F2F2F7;
  font-size: 0.95em;
  width: 120px;
}
.login-form button {
  background: #6A0DAD;
  color: #F2F2F7;
  border: none;
  padding: 7px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}
.login-form button:hover {
  background: #3D2C8D;
}



/* =============================== */
/* 2.MAIN - TODOS LOS JUEGOS */
/* =============================== */

.container {
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

.container h2 {
    text-align:left;
    margin-bottom: 1.5rem;
}

.principales {
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.5rem;
}

.game {
    position: relative;
    width: 300px;
    height: 400px;
    background: #0B0018;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.game img {
  width: 100%;
  height: 100%;
  object-fit: cover;         
  display: block; 
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.game img:hover {
  transform: scale(1.05);     
  opacity: 0.9;
}

.stats {
    position: absolute;
    display: flex;
  top: 0;                     
  left: 0;
  width: 100%;
  justify-content: space-around;
  padding: 0.5rem;
  font-size: 0.8rem;
  color:#F2F2F7;
  background-color: #5A4C66;
   font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.8;
}

.stats span {
    display: flex;
  align-items: center;
  gap: 0.3rem;
}

.linea{
    border:none;
    height: 2px;
    background-color: #5A4C66;
    margin: 20px 0;
}

/* TODO SOBRE EL JUEGO */
/* =============================== */
/* 3. GAME PARTICULAR */
/* =============================== */

.game-page {
  display: grid;
  grid-template-columns: 250px 1fr 200px;
  gap: 30px;
}

.poster {
   position: relative;
    background: #0B0018;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 3rem;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;         
  display: block; 
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.info-section h1 {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

.info-section .year {
  font-weight: normal;
  font-size: 1rem;
  color: #8A7D96;
}

.info-section .tags-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 6px;
  background: rgba(0, 0, 0, 0.2); 
  padding: 2px;
  border-radius: 6px;
  font-family: 'Segoe UI', sans-serif;
}

.info-section .tag {
  background-color: #9A70C6; 
  color: #F2F2F7;
  border: 1px solid #633D84;
  border-radius: 9px;
  padding: 4px 10px;
  font-size: 11px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}



.info-section .director a {
  color: #6E5F7A;
  text-decoration: none;
}

.info-section .tagline {
  font-style: italic;
  color: #B0B0B5;
  margin-top: 10px;
}

.info-section .synopsis {
  margin-top: 15px;
  line-height: 1.5;
}

/* acciones */
.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
}

.actions button {
  background: #5A4C66;
  color: #F2F2F7;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:hover {
  background: #3D2C8D;
}

.rate span {
  font-size: 1.2rem;
  cursor: pointer;
}

.titulo{
  margin: 20px 10px;
  padding: 0px 0px 10px 15px;
}
/* =============================== */
/* 4. RESEÑAS */
/* =============================== */

.reviews-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 10px;
  padding: 10px;
  gap: 20px;
  align-items: flex-start;
  justify-content: center; 
}

.review{
background-color: #1a1a1a;
padding: 15px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
overflow: hidden;
}


.review p{
    text-align: justify;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.review-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}






/* =============================== */
/* 0. Responsive -  */
/* =============================== *
