 /*#050010;        violeta oscuro */
  /*#0B0018;     secciones o cards */
  /*#B0B0B5;     /texto principal */
  /*#2A2A2E;   texto atenuado */
 /*#6A0DAD;            botones, links */
  /*#3D2C8D;        hover/acento */
  /*#F2F2F7;       texto sobre fondos oscuros */
 /*#5A4C66;       lila grisaceo */
 /*#150043;       violeta fuerte */
 /*#A176FF;       lila claro */
 /*#382F46;       fondo principal */
 /*#2C2340;       fondo header */
 /*#1F192B;       fondo body */

body {
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #1F192B;
  color: #B0B0B5;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  background-color: #2C2340;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: small;
}

.header .logo {
  width: 50px;
  height: 50px;
  
}

.header .logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header h1{
  padding: 5px 15px 0px 5px
}

.visually-hidden {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* buscador */
.search-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 20px;
}

#searchInput {
  width: 100%;
  max-width: 480px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #7B6C8C; 
  background: #F2F2F7;
  color: #050010;;
  font-size: 0.85rem;
  outline: none;
}

#searchInput:focus {
  box-shadow: 0 0 0 4px rgba(122,77,163,0.12); 
  border-color: #7A4DA3;
}

/* feedback */
.search-hint {
  font-size: 0.9rem;
  color: #BDB0CF;
  margin-left: 8px;
}


/* =============================== */
/* 1. Registro y Login  */
/* =============================== */
/* formato modal registro */
.modal {
  backdrop-filter: blur(5px); /*fondo borroso*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 20, 0.6);
  display: flex;
  align-content: center;
  z-index: 9999;
}

.modal-content {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  backdrop-filter: blur(10px);
  background: #150043;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 1.5em;
  color: #B0B0B5;
  cursor: pointer;
  transition: color 0.2s;
}
.close:hover {
  color: #F2F2F7;
}

.modal-content h2 {
   text-align: center;
    padding: 15px 0 15px;
    border-bottom: 1px solid #A176FF;
}

.modal-content form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-sizing: border-box;
}

.form-group {
  position: relative;
  margin: 15px 0;
  border-bottom: 1px solid #A176FF;
}
.form-group input {
  width: 95%;
  padding: 0 10px 0 5px;
  height: 40px;
  border: none;
  background: none;
  outline: none;
  color: #6c5ce7;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.25), 0 4px 15px rgba(108, 92, 231, 0.4); 
}

.form-group label {
  padding: 7px;
  position: absolute;
  top: 50%;
  left: 5px;
  color: #6c5ce7;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

/*estas dos funciones son para que se mueva el texto cuando lo selecciones*/
.form-group::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #A176FF;
  transition: .5s;
}

.form-group input:focus ~ label, 
.form-group input:not(:placeholder-shown) ~ label {
    top: -5px;
    color: #A176FF;
}

.form-group input:focus ~ label::before {
    width: 100%;
}

/* formato login */
.login-form {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 16px;
}
.login-form input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #5A4C66;
  background: #0B0018;
  color: #F2F2F7;
  font-size: 0.95em;
  width: 120px;
}



/* =============================== */
/* 2.MAIN - TODOS LOS JUEGOS */
/* =============================== */

.container {
    padding: 2em;
    margin: 50px;
}

.container h2 {
  text-align:left;
  margin-bottom: 1.5rem;
  margin-bottom: 2rem;
  color: #EAE2F8;
  font-size: 1.8rem;
  font-weight: 600;
  border-left: 4px solid #8e44ad;
  padding-left: 10px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.principales {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.game-popular {
  justify-content: center;
  gap: 1.5rem;
  position: relative;
  width: 300px;
  height: 200px;
  background: #0B0018;
  border-radius: 15px;
  margin: 1.5rem;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 0px 0px 20px 0px;
 
}

.extras {
  flex-wrap: wrap;
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}


.games {
  position: relative;
  width: 250px;
  height: 150px;
  background: linear-gradient(145deg, #0B0018, #1a0f2a);
  border-radius: 12px;
  margin: 1rem;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 0 0 15px 0;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit:cover;         
  display: block; 
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.game-image:hover {
  transform: scale(1.05);     
  opacity: 0.9;
}

.stats {
  position: absolute;
  display: flex;
  top: 0;                     
  left: 0;
  width: 100%;
  justify-content: space-around;
  padding: 0.5rem;
  font-size: 0.8rem;
  color:#F2F2F7;
  background: linear-gradient(145deg, #5A4C66, rgba(90, 76, 102, 0.8));
   font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.8;
}

.stats span {
    display: flex;
  align-items: center;
  gap: 0.3rem;
}

.linea{
    border:none;
    height: 2px;
    background-color: #5A4C66;
    margin: 20px 0;
     border-radius: 1px;
}

/* TODO SOBRE EL JUEGO */
/* =============================== */
/* 3. GAME PARTICULAR */
/* =============================== */

.game-page {
  display: grid;
  grid-template-columns: 400px 1fr 250px;
  gap: 30px;
}

.poster {
  position: relative;
  background: #0B0018;
  border-radius: 10px;
  margin: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 1.5rem;
  width: 350px;
  height: 250px;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;         
  display: block; 
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.info-section h1 {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

.info-section .year {
  font-weight: normal;
  font-size: 1rem;
  color: #8A7D96;
}

.tags-container {
  margin: 40px;
  display: flex;
  flex-wrap: wrap; 
  gap: 6px;
  background: rgba(0, 0, 0, 0.2); 
  padding: 2px;
  border-radius: 6px;
  font-family: 'Segoe UI', sans-serif;
}

.tag {
  background-color: #9A70C6; 
  color: #F2F2F7;
  border: 1px solid #633D84;
  border-radius: 9px;
  padding: 4px 10px;
  font-size: 11px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}



.info-section .director a {
  color: #6E5F7A;
  text-decoration: none;
}

.info-section .tagline {
  font-style: italic;
  color: #B0B0B5;
  margin-top: 10px;
}

.info-section .synopsis {
  margin-top: 15px;
  line-height: 1.5;
}

/* acciones */
.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
}

.btn {
  background: #5A4C66;
  color: #F2F2F7;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  background: #3D2C8D;
}

.rate span {
  font-size: 1.2rem;
  cursor: pointer;
}

.titulo{
  margin: 20px 10px;
  padding: 0px 0px 10px 15px;
}

.clickeable{
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 0.2em;
  color: #B0B0B5;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: bold;  
  padding: 10px;
}
.clickeable:hover{
  text-decoration: underline;
  
}
/* =============================== */
/* 4. RESEÑAS */
/* =============================== */

.dejar-reseña {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  background: linear-gradient(145deg, #0B0018, #12002b);
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  
}

.dejar-reseña .texto {
  width: 90%;
  height: 100px;
  padding: 10px 12px;
  border: 3px solid #5A4C66;
  border-radius: 5px;
  resize: none;              
  font-size: 16px;
  box-sizing: border-box;
  color:#EAE2F8;
  background-color: rgba(26, 19, 41, 0.9);
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}
.dejar-reseña .texto:focus {
  outline: none;
  border-color: #A176FF;
  box-shadow: 0 0 4px #A176FF;
}

.dejar-reseña .btn {
  margin-top: 20px;
  margin-bottom: 5px;
}



.reviews-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 10px;
  padding: 10px;
  gap: 20px;
  align-items: flex-start;
  justify-content: center; 
}

#reviewList {
  display: contents; 
}

.review{
background: linear-gradient(145deg, #1a1a1a, #232030);
padding: 15px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
overflow: hidden;
}




.review p{
    text-align: justify;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.review-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}



/* =============================== */
/* 0. Menu hambuerguesa */
/* =============================== */
#userDisplay {
    position: relative;
    cursor: pointer;
    display: inline-block;
}


.menu-options {
    display: none;
    position: absolute;
    top: 10%;        
    transform: translateX(-50%);
    background-color: #1F192B;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 1000;
    min-width: 150px;
    animation: fadeIn 0.2s ease-in-out;
}

.menu-options a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu-options a:hover {
    background-color: #302745;
}

.menu-options.show {
    display: block;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, -5px); }
    to { opacity: 1; transform: translate(-50%, 0); }
}




/* =============================== */
/* 0. Rating -  */
/* =============================== */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl; /* Para que las estrellas se alineen de derecha a izquierda (5 a 1) */
    text-align: center;
    font-size: 30px; /* Tamaño de las estrellas */
    display: inline-block; /* Ocupa solo el espacio necesario */
}

.rating > .star {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #ccc; /* Color por defecto */
    transition: color 0.2s;
}

/* Estilo para las estrellas seleccionadas */
.rating > .star.selected,
.rating > .star:hover,
.rating > .star:hover ~ .star {
    color: gold; /* Color de la selección/hover */
}

/* Estilo para mostrar la calificación en las reseñas cargadas */
.review-rating {
    color: gold;
    font-size: 20px;
}
